
<div class="conteiner-map">
  <div id="map" ></div>
</div>

<script>
$(document).ready(function(){
  var marker = <%=raw @hash.to_json %>
  
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    
  });
});

</script>


