  <div class="page-header">

    <%= link_to veiculos_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>

    <h1>Cadastro de veículo</h1>
  </div>


<%= render 'form' %>


