<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cor_veiculo.descricao %>
</p>

<%= link_to 'Edit', edit_cor_veiculo_path(@cor_veiculo) %> |
<%= link_to 'Back', cor_veiculos_path %>
