<div class="page-header">

    <%= link_to manutencao_preventivas_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Voltar
    <% end %>

    <h1>Cadastro de manutenção preventiva</h1>
  </div>


<%= render 'form' %>
