/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "themes/jquery.ui.smoothness"
@import "jquery.ui.all"
@import "bootstrap-sprockets"
@import "bootstrap"



.conteiner-map
  width: 100%

.boas_vindas_usuario 
  position: relative
  color: white
  font-size: 11px
  margin-top: 6px
  padding-left: 10px
  float: right

 
.boas_vindas_usuario .links
  position: relative
  margin: 0px 40px 0px -10px
  float: right


#map
  width: 79%
  height: 625px
  margin-left: 250px

.footer 
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  background: #428BCA
  padding: 5px
  height: 30px
  top: 100%

//****titulo da pagina****//

.page-header
  border: none
  margin: 40px

.page-header a
  float: left
  font-size: 12px


.page-header h1
  font-size: 18px
  color: #428BCA
  float: left
  font-size: 18px
  margin-left: 32%
  margin-top: 2px 

//***busca***//

.busca
  border: 2px solid #ccc
  width: 100%
  background: #ccc
  color: #428BCA

.col-md-10 
  width: 320px
  text-align: left

.busca .form-group 
  width: 200px

//**formulário**//

.alert-danger 
  width: 457px

.row 
  margin-left: -15px
  margin-right: -15px
  text-align: center

#notice
  background: #428BCA
  font-color: #000
  font-size: 16px
  color: #f5f5f5
  padding: 5px

.col-md-10 
  width: 320px
  text-align: left

.col-md-4 
  width: 50.333%

.form-group 
  width: 500px

label
  margin-left: 20px
  
.btn-primary 
  margin-left: 35px

//***titulo dos formulários***//

h1
  text-align: center
  color: #428BCA
  font-size: 22px 
  float: left
  margin-left: 37%
  margin-top: 40px
  margin-bottom: 20px

.icone_add
  margin-left: 50px
  margin-top: 5px


