// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#accordion {
//  padding: 10px;
  width: 250px;
  height: 220px;
  float: left;
}

.conteiner-map {
   margin-left: 5px;
   margin-top:5px;
   width: 100%;
}
