// Place all the styles related to the marcas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#new_marca{
//  background: #ededed;
//  border: 2px solid #ccc;
//  display: inline;
//  float: left;
//  margin-left: 29%;
//  text-align: center;
//  width: 390px;
//}

//#new_marca div{
//  float: left;
//}

//#new_marca .col-md-1, #new_marca .col-md-2{
//  margin-left: 10px;
//  text-align: left;
//}
//#new_marca .col-md-1{
//  width: 19.667%;
//}

//#new_marca .col-md-2{
//  width: 50.667%;
//}
//#new_marca .col-sm-offset-2{
//  width: 0%;
//  margin-left: 175px;
//}

//****************************************

.edit_marca{
  background: #ededed;
  border: 2px solid #ccc;
  display: inline;
  float: left;
  margin-left: 29%;
  text-align: center;
  width: 390px;
}

.edit_marca div{
  float: left;
}

.edit_marca .col-md-1, .edit_marca .col-md-2{
  margin-left: 10px;
  text-align: left;
} 


.edit_marca .col-md-1{
  width: 19.667%;
}

.edit_marca .col-md-2{
  width: 50.667%;
}
 
.edit_marca .col-sm-offset-2{
  width: 0%;
  margin-left: 175px;
}

.col-md-10{ 
  width: 320px;
  text-align: left;
}

.form-group {
  width: 500px;
}

.alert-danger {
  width: 457px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}



