<div class="topo">
<% if user_signed_in? %>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-th-list"></span>
      Menu
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/condutores">Condutor</a></li>
      <li><a href="/veiculos">Veículos</a></li>
      <li><a href="/manutencao_preventivas">Manutenção preventiva</a></li>
      <li><a href="/marcas">Marcas</a></li>
      <li><a href="/modelos">Modelo</a></li>
    </ul>
  </div>

  <%= link_to home_index_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-map-marker"></span>
    Mapa e veículos
  <% end %>
<% end %>


  <div class="boas_vindas_usuario hidden-print">
    
    <% if user_signed_in? %>
      Bem vindo, <%= current_user.nil? ? 'Anônimo' : current_user.email %><br/>
      <div class="boas_vindas_usuario links hidden-print">
        <%= link_to "Logout", destroy_user_session_path, :method => "delete" %>
      </div>
    <% end %>
  </div>
</div>


